body{ 
  box-sizing: border-box;
  font-family: Verdana;
}

.name {
  font-size: 50px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0 20px 20px 0;
  padding: 20px 0 20px 20px;
  width: 50%;
}

nav {
  background-color: hsla(117, 100%, 4%, 0.4);
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  width: 15%;
  font-size: 25px;
  text-align: center;
}

li:first-child {
  width: 50%;

  
}

.about {

}
.work {

}

.contact {

}

.everything {
  text-align: center;
  border: 5px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 50px;
}

.circle {
  display: inline-block;
  border: 2px solid black;
  width: 186px;
  height: 186px;
  position: relative;
  top: -295px;
  margin: 0 auto;
  border-radius: 185px;
  background-color: white;
}

#time {
  position: relative;
  top: 10px;

}
.about_info {
  text-align: center;
  border: 5px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 50px;
}

.work_info {
  text-align: center;
  border: 5px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 50px;
}

.contact_info {
  text-align: center;
  border: 5px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 50px;
}

.hidden {
  display: none
}
.header {
font-size: 30px;
font-weight: bold;
border: 5px solid black;
margin: 0 auto;
width: 600px;
text-align: center;
border-radius: 50px;
}
