body{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Verdana;
  background-color: white;
  font-size: 0.5px;
}

nav {
  width: 100%;
  background-color: #4B0082;
  text-align: center;
  color: white;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; 

}

nav ul li {

  display: inline-block;
  list-style-type: none;
  text-align: center;
  vertical-align: center;
  font-size: 25px;
}

nav ul li.name {
  width: 50%;
  text-align: right;
}

nav ul li.not_name {
  width: 10%
}

nav ul li.not_name:hover {
  color: yellow;
}

.main {
  width: 960px;
  margin: 0 auto;
}

.robot{
  position: relative;
  left: 0em;
}

.beep{
  width: 5em;
  height: 0em;
  border: 5em solid transparent;
  border-top: 10em solid #777;
  border-bottom: 80em solid #888;
  position: relative;
  left: 140em;
}

.brain {
  background: radial-gradient(circle, white 15%, transparent 40%), #4B0082;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #4B0082; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #4B0082;
  background-size: 75em 150em;
  height: 150em;
  width: 150em;
  border-radius: 60em 60em 10em 10em;
  border-bottom: 40em solid #666;
  position: relative;
  left: 70em;
}
.torso {
  height: 0;
  width: 140em;
  border-top: 300em solid #bc6;
  border-left: 75em solid transparent;
  border-right: 75em solid transparent;
  border-radius: 20em 20em 100em 100em;
}
.left{
 font-family: 'Poller One', verdana, arial, sans-serif;
 font-weight: bold;
 font-size: 250em;
 color: #666;
 transform: rotate(200deg);
 -webkit-transform: rotate(200deg);
 -moz-transform: rotate(200deg);
 position: relative;
 left: -0.75em;
 top: -1.3em;
 z-index: -1; 
}

.right{
 font-family: 'Poller One', verdana, arial, sans-serif;
 font-weight: bold;
 font-size: 250em;
 color: #666;
 transform: scaleY(-1) rotate(20deg);
 -webkit-transform: scaleY(-1) rotate(20deg);
 -moz-transform: scaleY(-1) rotate(20deg);
 position: relative;
 left: .7em;
 top: -2.50em;
 z-index: -1; 
}
.foot {
  height: 40em;
  width: 40em;
  background: #ccc;
  border-radius: 40em;
  border: 15em solid #999;
  position: relative;
  top: -10em;
  left: 110em;
  z-index: -1;
}

